@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(
        320deg,
        white 20%,
        skyblue 20%
    );
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    overflow: hidden;
}

.quiz-container{
    width: 600px;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    border-radius: 10px;

    overflow: hidden;
}

.quiz-header{
    padding: 4rem;
}

h2{
    text-align: center;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
}


ul li label{
    cursor: pointer;
}

.btn{
    width: 100%;
    font-family: inherit;
    font-size: 1.2rem;
    background-color: rgb(17, 117, 231);
    color: #fff;
    padding: 1.3rem;
    border: 0;
    font-weight: bold;

    cursor: pointer;
}

.btn:hover{
    background-color: orange;
}

.btn:focus{
    outline: 0;
    background-color: rgb(240, 84, 11);
}

